
  * { font-family: Arial; } 

  body {
    background-color: hsl(38, 62%, 95%);
    padding: 10px 50px 50px 50px;
  }
  
  h1 {
    color: #180218;
  }

  table, th, td {
    border: 1.5px solid rgb(57, 25, 133);
    border-collapse: collapse;
    text-align: center;
  } 

  thead th {
    background-color: rgb(219, 219, 208);
  }

  td {
    padding-left: 5px;
    padding-right: 5px;
  }


  tr:nth-child(even) {
    background-color: hsl(39, 64%, 91%);
  }
  tr:nth-child(odd) {
    background-color: hsl(40, 56%, 95%);
  }

  thead th:hover {
    background-color: rgba(223, 224, 190, 0.564);
    cursor: pointer;
  }

  button {
    cursor: pointer;
  }

  .vertical-scroll-class {
    height: 507px;
    overflow: auto;
  }

  .span-info-class {
    color: blue;
  }
 
 .column-wide-class {
    max-width: 300px; 
    word-wrap: break-word; 
 }
